:root {
  --secondar-font: "Inter", sans-serif;
}

a:hover {
  color: white !important;
  text-decoration: none !important;
}

.whole-img {
  position: relative;
}

.whole-img img {
  object-fit: cover;
  height: 498px;
  width: 100%;
  object-position: 48% 0%;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*  */

.touch_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: capitalize;

  color: #ffffff;
}

.touch_secondary {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;

  text-align: center;

  color: #ffffff;
}

/*  */

.box {
  margin: -103px 0 40px 0;
}

.details {
  width: -webkit-fill-available;
  max-width: 630px;
  margin: auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fname {
  display: flex;
  gap: 10px;
}

.fname input {
  background: rgba(255, 255, 255, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(30px) !important;
  padding: 5px 0 5px 10px;
  border-radius: 5px !important;
  width: -webkit-fill-available;
  height: 40px;
}

.fname input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000 !important;
}

.email_number {
  background: rgba(255, 255, 255, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(30px) !important;
  padding: 5px 0 5px 10px;
  border-radius: 5px !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000 !important;
  width: 551px;
  height: 40px;
}

.email_number::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000 !important;
}

.mt {
  background: #f7f7f7;
  border: 1px solid #636363;
  border-radius: 8px;
  padding: 5px 0 20px 10px;
  width: 551px;
  height: auto;
}

.select p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000 !important;
  padding: 15px 0;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.items {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #000000;
}

.btn button {
  background: #8111e8;
  border-radius: 8px;
  padding: 16px 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  border: none;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .box {
    margin: 20px auto;
  }
  .details {
    width: 95%;
    max-width: 630px;
  }
  .fname {
    gap: 20px;
    flex-direction: column;
  }
  .email_number {
    width: 100%;
    height: 40px;
    max-width: -webkit-fill-available;
  }
  .mt {
    width: 100%;
  }
  .btn button {
    padding: 16px 50px;
  }
}

/* -----------------form_Section_CSS------------------ */

.container_form {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 25vh;
  z-index: 9;
  font-family: poppins;
}
.row {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  text-align: left;
}

.col {
  padding: 0;
  margin: 8px 0 16px 0;
  position: relative;
  vertical-align: top;
  float: left;
}

.col-100 {
  width: 100%;
  display: inline-block;
}

.main {
  width: 100%;
  max-width: 650px;
  left: 285px;
  top: 241px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  padding: 20px;
  background-color: #ffffff;
  margin: auto;
}

.close_header {
  text-align: right;
  position: relative;
  margin: 0 0 0 0;
  top: -44px;
}

.close_header button {
  border: none;
  outline: none;
  background-color: transparent;
}

.all_details {
  display: flex;
  margin: -10px 0 0 0;
}

.col_100 {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.col_100 p {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 37px;

  color: #000000;
}

.form_details input {
  background: #ffffff;
  border: 2px solid #22010b;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  outline: none;
  width: 292px;
  height: 40px;
  padding: 0 15px;
  margin: 10px auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form_details input:focus {
  border: 2px solid #8111e8;
}

.right_svg {
  position: absolute;
  top: 69px;
  right: 270px;
}

.btn {
  text-align: center;
  margin: 10px 0;
  width: 50%;
}

.btn button {
  background: #8111e8;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  padding: 10px 16px;
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
}

.alter p {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;

  color: #242628;
}

.alter span {
  font-weight: bolder;
  color: #000000;
}

#myDIV {
  display: none;
}

@media screen and (max-width: 900px) {
  .main {
    width: 100%;
    max-width: 300px;
  }
  .all_details {
    margin: -40px 0 0 0;
  }
  .col_100 p {
    font-size: 1.3rem;
    line-height: 28px;
  }

  .form_details {
    margin-left: -4px;
  }

  .form_details input {
    width: 250px;
    height: 35px;
  }

  .btn {
    text-align: center;
    width: 100%;
  }
  .right_svg svg {
    display: none;
  }
}
