*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #8000ff;
}
::-webkit-scrollbar-track {
  background: #564e5e;
}
:root {
  --primaryFont: "Inter", sans-serif;
  --primaryColor: #240046;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --transition: all 300ms linear;
}
html,
body {
  overscroll-behavior-x: none;
  cursor: default !important;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primaryFont);
  color: var(--blackColor);
  font-size: 1em;
  line-height: 25px;
  font-weight: 400;
}
a {
  color: currentColor;
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* header starts */

/* header ends */

/* main starts */

.whole-img {
  /* position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; */
}

.whole-img img {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none; */
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 60% 17%;
}

.middle {
  margin: 0px 0 39px 0;
}

.touch {
  width: -webkit-fill-available;
  max-width: 630px;
  margin: auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.touch p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
  padding: 32px;
}

.details {
  /* margin: 70px; */
  display: flex;
  justify-content: center;
}

.enter_details {
  width: 100%;
  text-align: inherit;
}

.enter_details p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  padding: 0;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.fname input {
  width: 271px;
  height: 36px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);
  padding: 16px;
  text-transform: capitalize;
  color: #000000;
  outline: none;
  border: 1.09702px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

input::placeholder {
  color: #000000;

  opacity: 0.7;
}

.fname {
  display: flex;
  gap: 33px;
}

.email_number {
  width: 573px;
  height: 36px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);

  color: #000000;
  outline: none;
  border: 1.09702px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.email_number::placeholder {
  color: #000000;

  opacity: 0.7;
}
.box {
  width: 566px;
  height: 169px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 8px;
}

.select {
  padding: 16px;
}

.select p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #ffffff;
}

.items {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
  padding: 8px 16px;
  cursor: pointer;
}

.category {
  display: flex;
  padding: 0px 16px;
  flex-wrap: wrap;
  gap: 16px;
}

.btn button {
  /* width: 241px;
  height: 51px; */
  cursor: pointer;
  background: #8111e8;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  border: none;
  padding: 18px 70px;
}

.btn button:hover {
  background-color: #8011e8c0;
}

/* ------------------ */

.file-upload {
  width: 100%;
  max-width: 271px;
}

.file-upload .file-upload-select {
  color: #dbdbdb;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 36px;
  border: 1.09702px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.file-upload .file-upload-select .file-select-button {
  display: inline-block;
}
.file-upload .file-upload-select .file-select-name {
  display: inline-block;
  /* padding: 10px; */
  color: #000000;

  opacity: 0.7;
}
.file-upload .file-upload-select:hover .file-select-button {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-upload-select input[type="file"] {
  display: none;
}

/* footer */

/* ----------------- screen ---------------------------------------- */
@media screen and (max-width: 900px) {
  .whole-img {
    position: relative;
  }

  .whole-img img {
    object-position: top;
    position: relative;
  }
  .middle {
    margin: 20px auto;
  }
  .details {
    display: block;
  }
  .fields {
    flex-direction: column;
  }
  .touch {
    width: 95% !important;
    max-width: 630px !important;
  }
  .touch p {
    padding: 10px;
  }
  .fname {
    flex-direction: column;
  }
  .enter_details p {
    text-align: left;
    margin-bottom: 0;
  }

  .fname input {
    /* width: 100%;
    max-width: 271px; */
  }
  .email_number {
    width: 100%;
    max-width: 271px;
  }
}
